# EditorConfig ajuda a manter estilos de código consistentes entre diferentes editores e IDEs.
# Mais informações sobre EditorConfig: https://editorconfig.org

# Definir a indentação global para espaços e tamanho de 2
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true