
@import url("assets/fonts/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      --font-size: 16px;
      font-size: var(--font-size);
      font-family: Inter, sans-serif;
    }

    input::-ms-clear, input::-ms-reveal {
      display: none;
    }
  
    :root {
      --color-background: #f9f9f9 ; /* cor de fundo*/
      --color-neutral-lighter: #fafafa; /* Fundo claro*/
      --color-neutral-light: #E0E3E0;
      --color-neutral: #f3f3f3; /* Tons intermediários */
      --color-neutral-darker: #C6C6C6; /* Tons mais escuros */
      --color-neutral-dark: #D9D9D9; /* Ideal para contraste suave */
      --color-neutral-white: #FFFFFF;
      --color-text-primary: #495453;
      --color-text-secondary: #6D8385;

      /* Cores específicas do Módulo */
      --color-primary: #005CA4;
      --color-secondary: #6AA0F0;
      --color-surface-user: #EBF5F8;
      --color-hoverButton: #3083b2;

      --color-danger: #BD0000;
      --color-hoverDanger: #b80202;
      --color-edit: #5DB6DC;
      --color-hoverEdit: #278bb6;
      --color-success: #009F55;
      --color-hoverSuccess: #198754;
      --color-warning: #FFC107;

    }
    
    [data-theme="high-contrast"] {
      --color-primary: #000000;
      --color-secondary: #242424;
      --color-text-primary: #424242;
      --color-text-secondary: #3F3F3F;
      --color-surface-user: #D2D2D2;
      --color-hoverButton: #2e2e2e;

      --color-danger: #000000;
      --color-hoverDanger: #242424;
      --color-edit: #000000;
      --color-hoverEdit: #242424;
      --color-success: #000000;
      --color-hoverSuccess: #242424;
      --color-warning: #000000;
    }
  }

