@import url("assets/fonts/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      --font-size: 16px;
      font-size: var(--font-size);
    }
  
    :root {
      --color-primary: #539AFD;
      --color-secondary: #539AFD;
      --color-background: #E0E3E0;
      --color-text-primary: #495453;
      --color-text-secondary: #6D8385;
      --color-surface: #FFFFFF;
      --color-surface-user: #D2EDEB;
      --color-hoverButton: #062c60;
    }
    
    [data-theme="high-contrast"] {
      --color-primary: #000000;
      --color-secondary: #242424;
      --color-background: #E0E3E0;
      --color-text-primary: #424242;
      --color-text-secondary: #3F3F3F;
      --color-surface: #FFFFFF;
      --color-surface-user: #D2D2D2;
      --color-hoverButton: #c9d6e9;

    }
  }